{% extends 'updateSystem/base.html'%}
{% block body %}
<div class="uk-container">


    <article class="uk-article">

    <h1 class="uk-article-title">About Us</h1>

    <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 September. Posted in 2020 <a href="#">Blog</a></p>

    <p class="uk-text-lead">Excavater Parts, Valve Plates Uni Directional Valve, Ductile Iron Castings, Manufacturer, Pune, India</p>
    <p class="uk-dropcap">C-Tech Engineers Pvt. Ltd. is established company formed by experienced Technocrats in 2001 with an objective of achieving customer satisfaction by developing & supplying quality precision components for global market. After delivering to various O E M’s in Europe, USA & Australia in the field of Construction Machinery, Excavators, Automobile & General Engineering Companies, We established our brand in domestic market by competitive cost, technological expertise, timely delivery & quality product.

For 2005/06, 2006/07, 2007/08, 2008/09, 2010/11, 2011/12 & 1012-13 company was awarded by STAR PERFORMAR award from Engineering Export Promotion Council in category of Machinery for Mining, Quarrying & Construction & Parts, Small Enterprises.
Company is having ISO 9001:2008 since last 8 Years.</p>


        <p class="uk-text-lead">Our Vision</p>
        <p>C-Tech Enggineers is commited to become best on global scenario for delivering Precision Machined Components with the task of quality, cost & delivery ”.</p>

 <p class="uk-text-lead">Mission</p>
        <p>“ We believe in mutual growth by long term association with customer satisfaction intend quality service towards continues improvement ”.</p>

        <p class="uk-text-lead">Our Strength</p>
        <p>In house Designing & Manufacturing facility for Jigs, Fixtures, Special Gauges, Machine Accessories, Work holding arrangements, Tool holding systems, SPM, HSS cutting tools etc.
• International approval ISO 9001:2008 from ICS.
• Strong quality vender support.
• Backup for C.M.M facility from sister concerns.
• Advance machinery for total solution for turned components.
• Export house status from Government of India.
• In-house Heat Treatment facility for Hardening & Case Carburizing (Seal Quench Furness).</p>
        <p class="uk-text-lead">Our Goals and Objectives</p>
        <p>

• To Manufacture & Supply Best Quality Precision Machined Components
• To ensure Zero Rejection & Total Customer Satisfaction for achieving overall growth Year Over Year •Continues approach for tapping new Market carrying loyalty towards existing customers.
• Enhancing Brand Image and its value in global Market.


        </p>

        <p class="uk-text-lead">Supporting Facility</p>
        <p>
            We have a complete backup of two tool rooms of our own for design & development of
• Jigs & Fixtures
• SPM Special Purpose Machines
• Cutting Tools
• Heat Treatment Facility
• CMM Facility
• Strong Vendor network
        </p>

        <p class="uk-text-lead">Presently Supplying To</p>
        <p>
            Presently supplying to Germany, France, Italy, Spain, Finland, Sweden, UK, USA , Australia & also in domestic market
• Hardened Bushes
• Hardened Pins
• Soft Big Machined Bushes
• Machined Components
• Small Precision Components
• Sub Assembly Group
• Adaptors for Filter Assembly
• Flanges for stamping dies
• Guide Pins
• Ductile Iron Castings Assembly
• S.S. Discs for Unidirectional Valves
        </p>


</article>




</div>


{% endblock %}