{% extends 'updateSystem/base.html'%}
{% load static %}
{% block body %}

<h1 style="text-align:center">Ctech's Achievements</h1>
<hr>
<div class="uk-container">
<div class="uk-child-width-1-2@s" uk-grid>
    <div>
        <img data-src="{% static 'updateSystem/award1.jpg'%}" width="800" height="400" alt="" class="uk-center" uk-img style="display:block;align-items:center;justify-content:center">
    </div>
    <div>
        <img data-src="{% static 'updateSystem/award2.jpg'%}" width="800" height="400" alt="" class="uk-center" uk-img style="display:block;align-items:center;justify-content:center">
    </div>
    <div>
        <img data-src="{% static 'updateSystem/award3.jpg'%}" width="800" height="400" alt="" class="uk-center" uk-img style="display:block;align-items:center;justify-content:center">
    </div>
    <div>
        <img data-src="{% static 'updateSystem/award4.jpg'%}" width="800" height="400" alt="" class="uk-center" uk-img style="display:block;align-items:center;justify-content:center">
    </div>
    <div>
        <img data-src="{% static 'updateSystem/award5.jpg'%}" width="800" height="400" alt="" class="uk-center" uk-img style="display:block;align-items:center;justify-content:center">
    </div>
    <div>
        <img data-src="{% static 'updateSystem/award6.jpg'%}" width="800" height="400" alt="" class="uk-center" uk-img style="display:block;align-items:center;justify-content:center">
    </div>
    <div>
        <img data-src="{% static 'updateSystem/award7.jpg'%}" width="800" height="400" alt="" class="uk-center" uk-img style="display:block;align-items:center;justify-content:center">
    </div>
    <div>
        <img data-src="{% static 'updateSystem/award8.jpg'%}" width="700" height="300" alt="" class="uk-center" uk-img style="display:block;align-items:center;justify-content:center">
    </div>
</div>
</div>
{% endblock %}