{% extends 'updateSystem/base.html'%}
{% load static %}

{% block body %}
<div class="uk-container">
<h1 class="uk-heading-line uk-text-center"><span>Company Social Responsibility</span></h1>
<img data-src="{% static 'updateSystem/csr2.jpg'%}" class="uk-align-center" width="70%" height="600" alt="" uk-img >
<div class="uk-child-width-1-2@s" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="{% static 'updateSystem/st2.jpg'%}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Anti-Addiction Campaign for Students From 8th STD to 12th STD with Two Groups from Pune | A Contribution to society spreading awareness about No-addiction of any type of drugs or tobacco</h3>

            </div>
        </div>


    </div>
    <div>
         <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="{% static 'updateSystem/student.jpg'%}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">• Total no. of School Visited : 20 nos.
• Total no. of Students pledged : 3000 nos.</h3>

            </div>
        </div>


    </div>
</div>
</div>

{% endblock %}